html {
  height: 100%; }

body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  height: 88%; }

#map_canvas {
  width: 100%;
  height: 100%; }

textarea {
  margin: auto;
  width: 80%;
  font-size: 1.0em;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #eeeeee;
  height: 13em;
  padding: 0.6em;
  display: block; }

.menu {
  text-align: center;
  padding-top: 0.3em;
  padding-bottom: 0.3em; }

.footer {
  text-align: right;
  padding-top: 0.3em;
  padding-bottom: 0.3em; }

p {
  color: #6D8921;
  font-size: 1.4em; }

a {
  color: #a8528e;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

input {
  margin: auto;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #eeeeee;
  padding: 0.6em;
  display: block; }

input[type="text"] {
  width: 80%; }

input[type="submit"] {
  border: 1px solid #a8528e;
  display: inline;
  color: black; }

input[type="submit"]:hover {
  background-color: #a8528e; }

.button {
  text-align: center;
  margin-top: 0.6em;
  margin-bottom: 0.6em; }
