!!! html
%html
  %head
    %title trainlines
    = stylesheet_link_tag :common
    = javascript_include_tag :defaults, "jquerydefaultvalue.js"
    = csrf_meta_tag
    %meta{:name => "viewport", :content => "initial-scale=1.0, user-scalable=no"}
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  %body
    = yield

    %script{:type => "text/javascript"}
      :plain
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-6423107-4']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();